@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


body {
  font-family: "Noto Sans KR";
  background-color: #0F2C67;
  color: #F4E185;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.link a {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: #F3950D;
}

.MainWhole {
  text-align: center;
  margin-top: 100px;
}

.MainWhole .Title {
  color: #F3950D;
}

.MainBody {
  text-align: left;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}
